// ------------------------------------------------------------------------
// FONT SIZE (overwrites mbiCSS defaults)
// ------------------------------------------------------------------------

$baseFontSize:    	16px !default;
$baseLineHeight:  	21px !default;

// ------------------------------------------------------------------------
// COLORS
// ------------------------------------------------------------------------

$colorDark: 		#333;
$colorLight: 		#eee;
$colorFeature: 		crimson;

// ------------------------------------------------------------------------
// FONTS
// ------------------------------------------------------------------------

$os:'Open Sans', sans-serif;



// ----------------------------------------------------------------
// VARS
// ----------------------------------------------------------------

// $heightNav:			40px;
// $widthNav:			100%;