// ----------------------------------------------------------------
// RATIO
// ----------------------------------------------------------------

@mixin ratioClass($x, $y) {

	.ratio\(#{$x}\/#{$y}\),
	%ratio\(#{$x}\/#{$y}\) {
		@include aspectRatio($x/$y, 100%);
		height: 0;
	}

	@each $key, $val in $mapMediaQueries {

		.ratio--#{$key}\(#{$x}\/#{$y}\),
		%ratio--#{$key}\(#{$x}\/#{$y}\) {
			@include mq("#{$key}") {
				@include aspectRatio($x/$y, 100%, true);
				height: 0 !important;
			}
		}

		.ratio--#{$key}+\(#{$x}\/#{$y}\),
		%ratio--#{$key}+\(#{$x}\/#{$y}\) {
			@include mq("#{$key}+") {
				@include aspectRatio($x/$y, 100%, true);
				height: 0 !important;
			}
		}

		.ratio--#{$key}-\(#{$x}\/#{$y}\),
		%ratio--#{$key}-\(#{$x}\/#{$y}\) {
			@include mq("#{$key}-") {
				@include aspectRatio($x/$y, 100%, true);
				height: 0 !important;
			}
		}

	}

}