.module--userSite{

}
	.headline{
		@extend %heading--1;
		padding:em(20px, 60px) 0 em(60px, 60px) em(20px, 60px);
	}
	.information--wrapper{

	}
		.portal--wrapper{
			width:50%;
			left:50%;
			transform:translate(-50%,0);
			position: relative;
		}
			.portal--item{
				@extend %heading--2;

				background-color: lightgrey;
				text-align: center;
				line-height:em(50px, 25px);
				border-bottom:1px solid #000001;

				height:auto;
				max-height:em(50px, 25px);
				overflow:hidden;

				transition:max-height 0.5s ease-in-out;
				&:last-of-type{
					border-bottom:0;
				}
			}
				.portal__name{

				}
				.portalInfos{
					// height:auto;
					// max-height:0;
					// overflow:hidden;

					.title{
						@extend %title--italic-light;

						width:25%;
						float:left;
						text-transform:none;
					}
					.content{
						@extend %content--light;

						text-transform:none;
						min-height:em(50px, 14px);
						width:75%;
						float:left;
						border-left: 1px solid #000000;
						text-align:left;
						padding-left:em(20px, 14px);
					}
				}